@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');


html,body{
    margin:0;
    padding:0;
}

body {background-color: #d1e2c4;
}

div {
border: 0px;
border-color: #d1e2c4;
border-style: solid;
padding: 25px;
margin: 50px;
}


.header h1{
    font-size: 90px;
    text-align:center;
    font-family: 'Reenie Beanie', cursive;
    color:#778A35;
}

.header {
    background-image: url(https://github.com/maijavou/maijavou.github.io/blob/860e447846d483b54ac13dedd4d37e0b4ede1b76/Blogi/car.jpg);
    background-position:center;
    background-size: cover;
    margin: 0px;
    padding-left: 200px;
    padding-top: 360px;

}

.welcome{
    color:#31352E
    font-size: 70px;

}


.lead {
font-size: 30px;
padding-bottom: 25px;
}

.content{
    width: 100%;
    color:#31352E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.txt {
    margin-bottom: 10px;
}

.select{
    color:#31352E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 0px;
}


.footer{
    background-color:#778A35;
    text-align:center;
    font-size: 14px;
    margin: 0px;
    color:#31352E;
    font-family: Arial, Helvetica, sans-serif;
    
}

@media only screen and (min-width: 1025px) {
   
    .txt{
        font-size: 20px;
        margin-top: 10px;

    }

    .lead {
        font-size: 30px;
        padding-bottom: 0px;
        }

    .select {
        font-size: 20px;
        padding-top: 0px;

    }
}

